.card-container {
    display: flex;
    flex-direction: column;
}

.imgs {
    height: 12em;
}

.cardItem {
    background: linear-gradient(180deg,#648de1, #ffffff);
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    width: 18em;
    border-radius: 1%;
    margin-bottom: 3em;
    padding: 0.5em 0em;
    box-shadow: 2px 2px 0px 1px dimgrey;
}

.card-Descrip {
    font-size: 1.1rem;
    font-weight: 400;
    font-style: 'Karla';
    margin: 1em 1em;
    line-height: 1.2em;
}

.learn-btn {
    background: linear-gradient(180deg,#4070d2, #c5cfe4);
    color: rgb(5, 3, 3);
    font-family:'Montserrat';
    font-weight: 600;
    text-shadow: 0px 1px 3px white;
    justify-content: center;
    box-shadow: 2px 2px 0px 0px black;
    border-radius: 0.7em;
    height: 2em;
    margin-bottom: 0.5em;
}

.learn-btn:hover {
    background: linear-gradient(180deg,#0c317a, #4070d2);
    box-shadow: none;
    text-shadow: none;
    color: white;
}

.notif {
    display: flex;
    justify-content: center;
    color: #0ea849f2;
        animation-name: change-size;
        animation-duration: 1s;
        animation-iteration-count: 2;
}

@keyframes change-size {
        0% {font-size: 14px}
        50% {font-size: 16px}
        100% {font-size: 14px}
}

@media screen and (min-width: 733px) {
    .card-container {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.2em;
    }
        
}
  