.foot {
    background: linear-gradient(180deg, #519bfb, #6294d1c9);  
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    display: flex;  
    flex-direction: column;
    font-weight: 400;
    padding: 2%;
    margin-top: auto;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}

.rights {
    font-weight: bold;
    color: #000;
}

.footer-icons {
    
}