.image-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.mainContain {
    background: #d7ddde;
    width: 95%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1% 4% 1%;
}

#motto {
    position:relative;
    padding-top: 1em;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.motto-crown {
    margin-left: 0.5em;
    animation: color 3s infinite;
}

@keyframes color {
    0% {
        color: black;
    }
    50% {
        color: #2d8aed;
    }
    100% {
        color: black;
    }
}

.name{
    color: #2d8aed;
}

.offer{
    margin-top: 6%;
}

.features-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    line-height: 40px;
}

.iframeLichess{
    width: 100%; 
    aspect-ratio: 4/3;
}

.iframeTitle {
    margin: 2em;
}

@media (min-width: 480px) {

    .image-container {
        width: 80%;
    }

    .mainContain {
        width: 80%;
    }
    #motto {
        width: 90%;
        font-size: 1.18rem;
    }

    .mainContain {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {

    .image-container {
        width: 60%;
    }

    .mainContain{
        width: 60%;
    }

    .offer {
         margin-top: 2%;
    }

    .features-list {
        width: 100%;
    }

}